.main-page__title {
  width: 320px;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  margin-left: auto;
  margin-right: auto;
}

.main-page__contacts {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
