.main-page__contacts {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: left;
}

.contacts-info {
  font-size: 15px;
  line-height: 2;
  color: #444444;
}
