.main-page__title {
  width: 320px;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  margin-left: auto;
  margin-right: auto;
}

.index-page {
  width: 575px;
  min-height: 373px;
  background-image: url(../img/hero-mobile.png);
}

.catalog-page,
.form-page {
  background-color: #f1f1f1;
}
