.reviews {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__title {
  font-family: "OpenSansbold", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
}

.reviews__text {
  font-size: 15px;
  line-height: 2;
  color: #444444;
}

.reviews__text-name {
  font-family: "OpenSansbold", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
}

.reviews__profile-link {
  font-family: "OpenSansbold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.76;
  color: #444444;
}

.reviews-buttons {
  list-style: none;
}
